  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">All Rents</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      
                      <th> Client Name </th>
                      <th> Car Name </th>
                      <th> Cost </th>
                      <th> Length of Use </th>
                      <th> Pickup Date </th>
                      <th> Pickup Time </th>
                      <th> Pickup Location </th>
                      <th> DropOff Date </th>
                      <th> DropOff Time </th>
                      <th> DropOff Location </th>
                      <th> Total Charged </th>
                      <th> Date Created </th>                        
                      <th> Payment Status </th>
                    </tr>
                  </thead>
                  <tbody>
                  <% forms.forEach(form  => { %>
                       
                    <tr>
                     
                      <td>#<%= form.name %> </td>
                      <td> <%= form.car %> </td>
                      <td> $<%= form.total_charge / form.type_rate %> / 
                          <% if (form.type == "hourly") { %>
                              per hour
                          <% } %>
                          <% if (form.type == "daily") { %>
                               per day
                          <% } %>
                          <% if (form.type == "lease") { %>
                               per month
                          <% } %>
                      </td>
                      <td> <%= form.type_rate %> 
                          <% if (form.type == "hourly") { %>
                              hour(s)
                          <% } %>
                          <% if (form.type == "daily") { %>
                              day(s)
                          <% } %>
                          <% if (form.type == "lease") { %>
                              month(s)
                          <% } %>
                      </td>
                      <td> <%= form.pickup_date %> </td>
                      <td> <%= form.pickup_time %> </td>
                      <td> <%= form.pickup_loc %> </td>
                      <td> <%= form.dropoff_date %> </td>
                      <td> <%= form.dropoff_time %> </td>
                      <td> <%= form.dropoff_loc %> </td>
                      <td>$<%= form.total_charge %> </td>
                      <td> <%= form.date %> </td>
                      <td>
                          <% if (form.paid == true) { %>
                              <div class="badge badge-outline-success">Paid</div>
                          <% } else { %>
                              <div class="badge badge-outline-danger">Waiting</div>
                          <% } %>                                    
                      </td>
                      
                    </tr>

                  <% }) %>
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright 2023</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
