
<head>
  <style>
    /* Styles for the form container (adjust as needed) */
    .form-container {
        max-width: 400px;
margin: auto;
padding: 20px;
}

/* Styles for the card element container */
.card-element-container {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 10px;
}

/* Styles for the input fields */
.form-input {
padding: 10px;
width: 100%;
border: 1px solid #ccc;
border-radius: 4px;
}

/* Style the button */
.form-button {
background-color: #4CAF50;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;

    }

    
.number-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.number-box {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle box shadow for elevation */
}
  </style>
  <script>
      var disable_dates = '<%= disable_dates%>'

  </script>
  
</head>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                      <div class="col-md-4 d-flex align-items-center">
                          <form action="/rent/<%= car._id %>" method="post" id="payment-form" class="request-form ftco-animate bg-primary">
                        <p style="color: red;"><%= error %></p>
                      <h2>Make your trip</h2>
                            <div class="form-group">
                                <label for="" class="label">Pick-up location *</label>
                                <input type="text" name="pickup_loc" value="<%= pickup_loc %>" class="form-control" placeholder="City, Airport, Station, etc" required>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">Drop-off location *</label>
                                <input type="text" name="dropoff_loc" value="<%= dropoff_loc %>" class="form-control" placeholder="City, Airport, Station, etc" required>
                            </div>
                            
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Rate *</label>
                                    <select  name="type" class="form-control" id="exampleSelectGender" required>
                                      <option><%= type %></option>
                                      <% if (car.price_per_hour) { %>
                                        <option style="color: black;">hourly</option>
                                      <% } %>
                                        <option style="color: black;">daily</option>     
                                      <% if (car.price_per_lease) { %>
                                        <option style="color: black;">lease</option>                                       
                                      <% } %>
                                    </select>                                
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">How Long *</label>
                                    <input type="number" name="type_rate" value="<%= type_rate %>" class="form-control" placeholder="Length of use" required>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                        <label for="" class="label">Pick-up date *</label>
                        <input type="text" name="pickup_date" value="<%= pickup_date %>"  class="form-control" id="book_pick_date" placeholder="Date" required>
                      </div>
                      <!-- <div class="form-group ml-2">
                        <label for="" class="label">Drop-off date</label>
                        <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                      </div> -->
                  </div>
                  <div class="form-group">
                    <label for="" class="label">Pick-up time *</label>
                    <input type="time" name="pickup_time" value="<%= pickup_time %>" class="form-control"  placeholder="Time" required>
                  </div>
                  <label for="" class="label">Fill in your Card details</label>
                  <div   style="margin-bottom: 20px;" id="card-element" class="form-input">
                    <!-- Card Element will be inserted here -->
                </div>
                    <div class="form-group">
                      <input type="submit" value="Rent A Car Now" class="btn btn-secondary py-3 px-4">
                    </div>
                        </form>
                      </div>

                      <div class="col-md-8 d-flex align-items-center">
                          <div class="services-wrap rounded-right w-100">
                              <h3 class="heading-section mb-4">Rent <%= car.name %> Now</h3>
                             <p>You will be charged based on the Rate and length of use. Below is this car pricing: $<%= car.price_per_hour %> / per hour <b style="color: black;">|</b> $<%= car.price_per_day %> / per day <b style="color: black;">|</b> $<%= car.price_per_lease %> / per month</p>
                             <p></p>
                             <p></p>
                             <p></p>
                            <h5>Follow the Below Instructions to fill in the form correctly</h5>
                            <ul>
                              <li>All fileds with * in front must be filled </li>
                              <li>The pick up dates that are disabled in the calendar are not available. Also note that if you for example, pick an available date, but your length of use overlaps to the dates unavailable, you won't be able to rent within that length of time and will have to pick another date or length of use</li>
                              <li>For hourly rate, You can select anytime within the available date. If an error shows that the time is not available, check below to see available time for the date you picked. </li>
                            </ul>
                          <h4>List of available time today</h4>
                          <div class="number-container">
                            <% final_time_today_list.forEach(time => { %>
                            <div class="number-box"><%= time %></div>
                            <% }) %>
                            <!-- Add more values as needed -->
                        </div>

                          <% if (pickup_date && available_time_date) { %>
                            <h4 style="color: red;">List of available time at <%= pickup_date %></h4>
                            <div class="number-container">
                              <% available_time_date.forEach(time => { %>
                              <div class="number-box"><%= time %></div>
                              <% }) %>
                              <!-- Add more values as needed -->
                          </div>
                          <% } %>
                          </div>

                      </div>
                  </div>
            </div>
      </div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="../../charge.js"></script>
